# Assignment No:01

---

#1. Import all the required Python Libraries.

In [1]:
import pandas as pd

#2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).

#3.Load the Dataset into pandas dataframe.

In [2]:
iris=pd.read_csv("Iris.csv")

In [3]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#4. Data Preprocessing:

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
iris.describe(include="all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [46]:
iris['SepalLengthCm'].describe()

count    150.000000
mean       5.386667
std        0.841752
min        4.000000
25%        5.000000
50%        5.000000
75%        6.000000
max        7.000000
Name: SepalLengthCm, dtype: float64

In [7]:
iris.shape

(150, 6)

In [8]:
iris[0:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [9]:
iris.loc[0:2]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [10]:
iris.loc[0:4,'Id':'PetalWidthCm']

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [11]:
iris.iloc[1:3]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [12]:
iris.iloc[2:6,2:6]

   SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2           3.2            1.3           0.2  Iris-setosa
3           3.1            1.5           0.2  Iris-setosa
4           3.6            1.4           0.2  Iris-setosa
5           3.9            1.7           0.4  Iris-setosa

In [13]:
iris.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [14]:
iris.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [15]:
iris.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [16]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [17]:
iris.SepalLengthCm.isnull().sum()

0

#5. Data Formatting and Data Normalization:

Data Formatting:

In [18]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [19]:
iris.SepalLengthCm=iris.SepalLengthCm.astype("int")

In [20]:
iris.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Data Normalization:

In [21]:
from sklearn import preprocessing

In [22]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1              5           3.5            1.4           0.2  Iris-setosa
1   2              4           3.0            1.4           0.2  Iris-setosa
2   3              4           3.2            1.3           0.2  Iris-setosa
3   4              4           3.1            1.5           0.2  Iris-setosa
4   5              5           3.6            1.4           0.2  Iris-setosa

In [23]:
min_max_scaler = preprocessing.MinMaxScaler()

In [24]:
x=iris.iloc[:,:4]

In [25]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1              5           3.5            1.4
1      2              4           3.0            1.4
2      3              4           3.2            1.3
3      4              4           3.1            1.5
4      5              5           3.6            1.4
..   ...            ...           ...            ...
145  146              6           3.0            5.2
146  147              6           2.5            5.0
147  148              6           3.0            5.2
148  149              6           3.4            5.4
149  150              5           3.0            5.1

[150 rows x 4 columns]

In [26]:
x_scaled = min_max_scaler.fit_transform(x)

In [27]:
df_normalized = pd.DataFrame(x_scaled)

In [28]:
df_normalized

            0         1         2         3
0    0.000000  0.333333  0.625000  0.067797
1    0.006711  0.000000  0.416667  0.067797
2    0.013423  0.000000  0.500000  0.050847
3    0.020134  0.000000  0.458333  0.084746
4    0.026846  0.333333  0.666667  0.067797
..        ...       ...       ...       ...
145  0.973154  0.666667  0.416667  0.711864
146  0.979866  0.666667  0.208333  0.677966
147  0.986577  0.666667  0.416667  0.711864
148  0.993289  0.666667  0.583333  0.745763
149  1.000000  0.333333  0.416667  0.694915

[150 rows x 4 columns]

#6. Turn categorical variables into quantitative variables in Python.

In [29]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5,3.5,1.4,0.2,Iris-setosa
1,2,4,3.0,1.4,0.2,Iris-setosa
2,3,4,3.2,1.3,0.2,Iris-setosa
3,4,4,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,Iris-virginica
146,147,6,2.5,5.0,1.9,Iris-virginica
147,148,6,3.0,5.2,2.0,Iris-virginica
148,149,6,3.4,5.4,2.3,Iris-virginica
149,150,5,3.0,5.1,1.8,Iris-virginica

i. Replace method

In [30]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [31]:
iris['Species'].replace(['Iris-setosa','Iris-versicolor', 'Iris-virginica'],[0,1,2], inplace=True)

In [32]:
iris['Species'].unique()

array([0, 1, 2], dtype=int64)

In [33]:
iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1              5           3.5            1.4           0.2        0
1      2              4           3.0            1.4           0.2        0
2      3              4           3.2            1.3           0.2        0
3      4              4           3.1            1.5           0.2        0
4      5              5           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2
149  150              5           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [34]:
iris.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int64
dtype: object

In [35]:
iris['Species'].replace([0,1,2],['Iris-setosa','Iris-versicolor', 'Iris-virginica'], inplace=True)

In [36]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [37]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5,3.5,1.4,0.2,Iris-setosa
1,2,4,3.0,1.4,0.2,Iris-setosa
2,3,4,3.2,1.3,0.2,Iris-setosa
3,4,4,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,Iris-virginica
146,147,6,2.5,5.0,1.9,Iris-virginica
147,148,6,3.0,5.2,2.0,Iris-virginica
148,149,6,3.4,5.4,2.3,Iris-virginica
149,150,5,3.0,5.1,1.8,Iris-virginica

In [38]:
iris.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

ii. Label Encoding

In [39]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [40]:
label_encoder = preprocessing.LabelEncoder()

In [41]:
iris['Species']= label_encoder.fit_transform(iris['Species'])

In [42]:
iris['Species'].unique()

array([0, 1, 2])

In [43]:
iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1              5           3.5            1.4           0.2        0
1      2              4           3.0            1.4           0.2        0
2      3              4           3.2            1.3           0.2        0
3      4              4           3.1            1.5           0.2        0
4      5              5           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2
149  150              5           3.0            5.1           1.8        2

[150 rows x 6 columns]